<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sample.DesktopUI.Properties.Settings.LabEquipmentConnectionString"
            connectionString="Data Source=TS-PC\SQLEXPRESS;Initial Catalog=LabEquipment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>